/**
/* button's color changes when meeting the cursor */
.button {
    -fx-background-color: rgb(253, 242, 0);
    -fx-font-size: 15px;
    -fx-border-style: none;
    -fx-background-radius: 15;
}

.log_out_button {
    -fx-background-color: rgb(245, 234, 5);
    -fx-font-size: 15px;
    -fx-border-style: none;
    -fx-background-radius: 20;
}
.button:hover {
    -fx-opacity: 0.7;
}

/**/

/* background color */

.page {
    -fx-background-color: rgb(79, 250, 133);
}
/**/


/* rounded box + set color*/


.searchbox {
    -fx-background-color: rgb(250, 232, 212);
    -fx-text-fill: black;
    -fx-background-radius: 20;
}


.box {
    -fx-background-color: rgb(250, 232, 211);
    -fx-background-radius: 20;
    -fx-text-fill: black;
    -fx-z-index: 2;
}

.list-cell:filled:selected{
    -fx-background-color: #e77654;
    -fx-text-fill: #000000;
}

.list-cell {
    -fx-background-color: #e8c37e;
    -fx-background-radius: 20;
}

/*
.list-cell:odd {
    -fx-background-color: #f5ea05;
}
*/

.list-cell:filled:hover {
    -fx-background-color: #e85224;
    -fx-text-fill: #020841;
}

/**/

